/* line 17, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/global/_extendables.scss */
.subway-ace, .subway-bdfm, .subway-g, .subway-jz, .subway-l, .subway-nqr, .subway-s, .subway-123, .subway-456, .subway-7, h1 b {
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 6, ../sass/partials/global/_extendables.scss */
.connections li {
  height: 1.25em;
  width: 1.25em;
  font-size: 1em;
  padding-top: .15em;
  font-weight: bold;
  text-align: center;
}

/* line 15, ../sass/partials/global/_extendables.scss */
#southbound div,
#northbound div {
  height: 1.25em;
  width: 1.25em;
  font-size: 1.5em;
  padding-top: .15em;
  font-weight: bold;
  text-align: center;
}

/* line 24, ../sass/partials/global/_extendables.scss */
#line div {
  height: 1.5em;
  width: 1.5em;
  font-size: 1.75em;
  font-weight: bold;
  padding-top: .23em;
  text-align: center;
}

/* line 33, ../sass/partials/global/_extendables.scss */
#southbound,
#northbound {
  background-repeat: repeat-y;
}
/* line 39, ../sass/partials/global/_extendables.scss */
.svg #southbound,
.svg #northbound {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTYuOTkycHgiIGhlaWdodD0iMTYuNTYxcHgiIHZpZXdCb3g9IjAgMCAxNi45OTIgMTYuNTYxIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxNi45OTIgMTYuNTYxIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0IyQjJCMiIgc3Ryb2tlLXdpZHRoPSIyIiB4MT0iOC40MTYiIHkxPSItMC4wNzciIHgyPSI4LjQxNiIgeTI9IjE1LjQyMyIvPg0KPGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjQjJCMkIyIiB4MT0iLTAuMDI3IiB5MT0iMTUuNjIiIHgyPSIxNi45NzMiIHkyPSIxNS42MiIvPg0KPC9zdmc+DQo=');
  background-size: 100% 1em;
}
/* line 47, ../sass/partials/global/_extendables.scss */
.no-svg #southbound,
.no-svg #northbound,
#southbound .no-js,
#northbound .no-js {
  background-image: image("rail.png");
}

/* line 19, ../sass/partials/global/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/partials/global/_base.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: white;
  background-color: #262626;
}

/* line 7, ../sass/style.scss */
.subway-ace {
  background-color: #2850ad;
}
/* line 12, ../sass/style.scss */
.subway-ace.passive {
  background-color: rgba(40, 80, 173, 0.5);
}

/* line 7, ../sass/style.scss */
.subway-bdfm {
  background-color: #ff6319;
}
/* line 12, ../sass/style.scss */
.subway-bdfm.passive {
  background-color: rgba(255, 99, 25, 0.5);
}

/* line 7, ../sass/style.scss */
.subway-g {
  background-color: #6cbe45;
}
/* line 12, ../sass/style.scss */
.subway-g.passive {
  background-color: rgba(108, 190, 69, 0.5);
}

/* line 7, ../sass/style.scss */
.subway-jz {
  background-color: #996633;
}
/* line 12, ../sass/style.scss */
.subway-jz.passive {
  background-color: rgba(153, 102, 51, 0.5);
}

/* line 7, ../sass/style.scss */
.subway-l {
  background-color: #a7a9ac;
}
/* line 12, ../sass/style.scss */
.subway-l.passive {
  background-color: rgba(167, 169, 172, 0.5);
}

/* line 7, ../sass/style.scss */
.subway-nqr {
  background-color: #fccc0a;
  color: black;
}
/* line 12, ../sass/style.scss */
.subway-nqr.passive {
  background-color: rgba(252, 204, 10, 0.5);
}

/* line 7, ../sass/style.scss */
.subway-s {
  background-color: #808183;
}
/* line 12, ../sass/style.scss */
.subway-s.passive {
  background-color: rgba(128, 129, 131, 0.5);
}

/* line 7, ../sass/style.scss */
.subway-123 {
  background-color: #ee352e;
}
/* line 12, ../sass/style.scss */
.subway-123.passive {
  background-color: rgba(238, 53, 46, 0.5);
}

/* line 7, ../sass/style.scss */
.subway-456 {
  background-color: #00933c;
}
/* line 12, ../sass/style.scss */
.subway-456.passive {
  background-color: rgba(0, 147, 60, 0.5);
}

/* line 7, ../sass/style.scss */
.subway-7 {
  background-color: #b933ad;
}
/* line 12, ../sass/style.scss */
.subway-7.passive {
  background-color: rgba(185, 51, 173, 0.5);
}

/* line 21, ../sass/style.scss */
#main-header {
  width: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: black;
  background: #262626;
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 1000;
}

/* line 32, ../sass/style.scss */
.wrapper {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../../usr/local/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 36, ../sass/style.scss */
#line {
  width: 49.153%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
/* line 39, ../sass/style.scss */
#line div {
  display: inline-block;
}

/* line 45, ../sass/style.scss */
h1 {
  width: 49.153%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
}
/* line 53, ../sass/style.scss */
h1 b {
  display: inline-block;
  text-align: center;
  height: 1.75em;
  width: 1.75em;
  font-size: 1em;
  padding-top: .29em;
}

/* line 69, ../sass/style.scss */
#container {
  padding-top: 3.75em;
  height: 100%;
}

/* line 76, ../sass/style.scss */
#southbound,
#northbound {
  width: 15.254%;
  float: left;
  margin-right: 1.695%;
  display: inline;
  text-align: center;
  height: 100%;
}
/* line 84, ../sass/style.scss */
#southbound div,
#northbound div {
  position: absolute;
  z-index: 100;
  margin-left: .35em;
}

/* line 96, ../sass/style.scss */
#station-list {
  width: 66.102%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 99, ../sass/style.scss */
#station-list h3 {
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: .05em;
}

/* line 106, ../sass/style.scss */
.station-info {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
}
/* line 111, ../sass/style.scss */
.station-info footer {
  padding-top: 3px;
}
/* line 115, ../sass/style.scss */
.station-info:before {
  content: '';
  height: 3px;
  width: 15.254%;
  float: left;
  margin-right: 1.695%;
  display: inline;
  width: 49.153%;
  position: relative;
  background: rgba(252, 204, 10, 0.75);
  z-index: 0;
  margin-top: 1.25em;
  margin-right: 0;
  margin-left: -58.136%;
}

/* line 133, ../sass/style.scss */
.connections li {
  display: inline-block;
}

/* line 138, ../sass/style.scss */
.stop {
  border: 3px solid white;
  padding-top: 0 !important;
}
/* line 140, ../sass/style.scss */
.stop.passive {
  border: 3px solid rgba(255, 255, 255, 0.5);
}

/* line 147, ../sass/style.scss */
.target h3:before {
  content: '';
  display: inline-block;
  position: relative;
  height: .75em;
  width: .75em;
  padding-right: .25em;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjY1LjU5MnB4IiBoZWlnaHQ9IjI1Mi41OTNweCIgdmlld0JveD0iMCAwIDI2NS41OTIgMjUyLjU5MyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjY1LjU5MiAyNTIuNTkzIg0KCSB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRkRFMTciIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLXdpZHRoPSI2IiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHBvaW50cz0iMTMyLjc5NiwwIDE3My44MzIsODMuMTQ4IA0KCTI2NS41OTIsOTYuNDgyIDE5OS4xOTQsMTYxLjIwNCAyMTQuODY4LDI1Mi41OTMgMTMyLjc5NiwyMDkuNDQ1IDUwLjcyNCwyNTIuNTkzIDY2LjM5OCwxNjEuMjA0IDAsOTYuNDgyIDkxLjc2LDgzLjE0OCAiLz4NCjwvc3ZnPg0K');
  background-size: .75em;
  background-repeat: no-repeat;
}

/* line 162, ../sass/style.scss */
.time-to {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: -3.5em;
  font-size: .7em;
}
/* line 168, ../sass/style.scss */
#northbound .time-to {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 1em;
}
/* line 173, ../sass/style.scss */
.passive .time-to {
  display: none;
}
