////////////////////////
// Import Base
////////////////////////
@import 'partials/global/base';

@each $subway in $subway-lines {
  .subway-#{nth($subway, 1)} {
    @extend %subway-line;
    
    background-color: nth($subway, 2);
    
    &.passive {
      background-color: rgba(nth($subway, 2), .5);
    }
    @if nth($subway, 1) == 'nqr' {
      color: black;
    }
    
    .time-to {
      background-color: nth($subway, 2);
      
      @if nth($subway, 1) == 'nqr' {
        color: black;
        border: 1px solid black;
      }
      @else {
        border: 1px solid white;
      }
    }
  }
}

#main-header {
  width: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: black;
  background: lighten(black, 15%);
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 1000;
}

.wrapper {
  @include container();
}

#line {
  @include span-columns(6);
  
  div {
    @extend %subway-large;
    display: inline-block;
  }
}

h1 {
  @include span-columns(6 omega);
  
  font-size: 1.5em;
//  padding-top: .23em;
  font-weight: bold;
  text-align: right;
  
  b {
    @extend %subway-line;
    display: inline-block;
    text-align: center;
    
    height: 1.75em;
    width: 1.75em;
    font-size: 1em;
    padding-top: .29em;
    @include border-radius(.875em);
    
//    margin-top: -.23em;
    
//    background-color: purple;
  }
}

#container {
  padding-top: 3.75em;
  height: 100%;
//  overflow: auto;
}

#southbound,
#northbound {
  @include span-columns(2);
  @include breakpoint($smaller-tracks) {
    @include span-columns(1);
  }
  text-align: center;
  height: 100%;
  @extend %tracks;
//  display: inline-block;
//  position: fixed;
  
  div {
    @extend %subway-medium;
    position: absolute;
    z-index: 100;
    margin-left: -.15em;
    
  }
}

#station-list {
  @include span-columns(8 omega);
  
  @include breakpoint($smaller-tracks) {
    @include span-columns(10 omega);
  }
  
  h3 {
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: .05em;
  }
}

.station-info {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  
  footer {
    padding-top: 3px;
  }
  
  &:before {
    content: '';
    height: 3px;
    @include span-columns(6);
    
    @include breakpoint($smaller-tracks) {
      @include span-columns(2);
    }
//    width: columns(6);
    
    position: relative;
    background: rgba($subway-nqr, .75);
    z-index: 0;
    
    margin : {
      top: 1.25em;
      right: 0;
      left: -(columns(7)) - .3 * gutter();
    }
    
    @include breakpoint($smaller-tracks) {
      margin-left: -(columns(2) + 3 * gutter());
    }
  }
}

.connections li {
  @extend %subway-small;
  display: inline-block;
}

.stop {
  border: 3px solid white;
  &.passive {
    border: 3px solid rgba(white, .5);
  }
  padding-top: 0 !important;
}

.target {
  h3:before {
    content: '';
    display: inline-block;
    position: relative;
    height: .75em;
    width: .75em;
    padding-right: .25em;
    
    .svg & {
      background: {
        image: inline-image('star.svg');
        size: .75em;
        repeat: no-repeat;
      }
    }
    .no-svg &,
    .no-js & {
      background: {
        image: image-url('star.png');
        size: .75em;
        repeat: no-repeat;
      }
    }
    
  }
}

.time-to {
//  display: inline-block;
  position: absolute;
  @include rotate(-90deg);
  margin-top: -4em;
  margin-left: -.55em;
  font-size: .7em;
  padding: .10em .3em;
  @include border-radius(.25em);
  
  #northbound & {
    @include rotate(90deg);
    margin-top: 1em;
  }
  
  .stop & {
    margin-left: -.8em;
  }
  
  .passive & {
    display: none;
  }
}