////////////////////////
// Extension Imports
////////////////////////
@import 'compass';
@import 'compass/reset';
@import 'susy';

////////////////////////
// Local Imports
////////////////////////
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'extendables';

////////////////////////
// Globals
////////////////////////
* { @include box-sizing('border-box'); }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: white;
  background-color: lighten(black, 15%);
}