%subway-line {
  color: white;
//  @include border-radius(50%);
}

%subway-small {
  height: 1.25em;
  width: 1.25em;
  font-size: 1em;
  padding-top: .15em;
  font-weight: bold;
  text-align: center;
  @include border-radius(.625em);
}

%subway-medium {
  height: 1.25em;
  width: 1.25em;
  font-size: 1.5em;
  padding-top: .15em;
  font-weight: bold;
  text-align: center;
  @include border-radius(.625em);
}

%subway-large {
  height: 1.5em;
  width: 1.5em;
  font-size: 1.75em;
  font-weight: bold;
  padding-top: .23em;
  text-align: center;
  @include border-radius(.75em) ;
}

%tracks {
  background: {
    repeat: repeat-y;
//    attachment: fixed;
  }
  
  .svg & {
    background: {
      image: inline-image('rail.svg');
      size: 100% 1em;
    }
  }
  
  .no-svg &,
  .no-js {
    background: {
      image: image('rail.png');
    }
  }
}