////////////////////////
// NYC Subway Lines
////////////////////////
$subway-ace: #2850ad;
$subway-bdfm: #ff6319;
$subway-g: #6cbe45;
$subway-jz: #996633;
$subway-l: #a7a9ac;
$subway-nqr: #fccc0a;
$subway-s: #808183;
$subway-123: #ee352e;
$subway-456: #00933c;
$subway-7: #b933ad;

$subway-lines: 'ace' $subway-ace, 'bdfm' $subway-bdfm, 'g' $subway-g, 'jz' $subway-jz, 'l' $subway-l, 'nqr' $subway-nqr, 's' $subway-s, '123' $subway-123, '456' $subway-456, '7' $subway-7;